*{
    margin: 0;
    padding: 0;
}

html
{
    font-size: 80%;
    background: #0c1f22;
}

:root
{
    --text-color:aquamarine;
}

/* section
{
    height: 100vh;
    background: #0c1f22;
    background: url(/assets/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter:blur(35px);
} */


.Mode
{
    font-size: 2.5rem;
    display: flex;
    margin-top: 1rem;
    margin-right: 4rem;
    justify-content: right;
    color: var(--text-color);
}

.Buttons
{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    color:var(--text-color);
    z-index: 1;
}

.Buttons a
{
    border: .2rem solid blue;
    margin: .2rem;
    padding: .3rem;
}

.cartoon img
{
    height: 20rem;
    font-weight: 20rem;
}
