*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    text-decoration: none;
}

html
{
    font-size: 80%;
}

:root
{
    --border-color:#fff200;
    --btn-text1-color:#ffffff;
    --btn-text2-color:#000000;
    --btn-bg1-color:#000000;
    --btn-bg2-color:#00bbff;
    --bg-color:#000000;


    --age-bg-color:linear-gradient(120deg,rgba(0, 225, 255, 0.2),rgba(6, 237, 245,.2));
    --age-bg2-color:linear-gradient(120deg,rgba(0, 225, 255, 0.2),rgba(6, 237, 245,.2));

    --alpha-color:aqua;
}


body
{
      background: var(--bg-color);
}

/******************** header section start  ********************/

header
{
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    /* border: 2px solid red; */
    width: 100%;
    height: 20%;
    z-index: 2;
}

header nav ul
{
    display: flex;
    align-items: center;
    /* border: 2px solid rgb(0, 13, 255); */
}

header nav ul li
{
    border: .1rem solid #fff;
    background: var(--btn-bg1-color);
    font-size: 1.3rem;
    height: 3rem;
    width: 17rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    margin-left: 4rem;
    padding: .4rem;
    color:var(--btn-text1-color);
    cursor: pointer;
    transition: .3s;
    /* margin-top: 2rem; */
}

ul li:hover
{
    /* background: var(--btn-bg2-color); */
    color:var(--btn-text2-color);
    box-shadow: 0 0 10px var(--btn-bg2-color),
               
                0 0 20px var(--btn-bg2-color);
}

ul li a
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    color: var(--btn-text1-color);
}

 li a i
{
    text-shadow: 0 0 10px var(--btn-bg2-color),
    0 0 20px var(--btn-bg2-color),
    0 0 20px var(--btn-bg2-color);
}

/******************** header section end   ********************/



/*****************  Home section start  **************/

.home
{
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    position: relative;
}


/* 3d model */

.home-bg
{
    margin-right: 10rem;
    position: absolute;

    top: 30%;
}

model-viewer
{
    height: 35rem;
    width: 35rem;
    /* transform: rotateZ(35deg);     */
}

/*****************  Home section end  **************/


.age-container
{
    height: 97vh;
    /* background: var(--age-bg-color); */
    color: #fff;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    position: relative;
}

.age-container .age-content
{ 
    position: absolute;
    /* border: 2px solid red; */
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
    top: 8%;
    /* margin-bottom: 5rem; */
    
    
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: inset 0px 0px 10px var(--alpha-color);
}

.age-container .age-content::before
{
    position: absolute;
    content: '';
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    filter: blur(10px);
}

.calculator
{
    width: 100%;
    max-width: 600px;
}

.calculator h1
{
    text-align: center;
}

.age-input-box
{
    padding: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    /* border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px var(--alpha-color),
               inset 0px 0px 10px var(--alpha-color); */
    width: 60%;
}

.age-input-box input
{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}

.age-input-box button
{
    background:var(--bg-color);
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: var(--btn-text1-color);
    border: 2px solid var(--btn-text1-color);
    cursor: pointer;
    font-size: 1.4rem;
}

.age-input-box button:hover
{
    border: 2px solid var(--btn-text1-color);
    box-shadow: 0px 0px 10px var(--alpha-color),
    inset 0px 0px 10px var(--alpha-color);
}

.age-input-box input::-webkit-calendar-picker-indicator
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}

#result
{
    font-size: 2.6rem;
    /* border: 2px solid white; */
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px var(--alpha-color),
    inset 0px 0px 10px var(--alpha-color);
    padding: 2rem;   
    width: max-content;
}

#result span
{
    color: var(--alpha-color);
}
